<footer id="footer-container">
    <div id="icon">
        <p>codieal<i class="fab fa-studiovinari"></i></p>
        
    </div>
    <div id="main-sec">
        <div id="About">
            <p>About</p>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/users/profile">profile</a></li>
            </ul>
        </div>
        <div id="contacts">
            <p>Contact</p>
            <ul>
                <li>Mob : 7982815510</li>
                <li>Email : Kunalswami29@gmail.com</li>
            </ul>
        </div>
    </div>

</footer>